:root {
    --primary-font-colour: rgba(2, 94, 115, 0.75);
    --secondary-logo-colour: rgba(245, 248, 253, 1);
    --border-colour: rgba(198, 197, 217, 1);
    --main-background-colour: rgba(198, 197, 217, 0.5);
    --text-input-color: rgba(198, 197, 217, 0.5); 
    --submit-button-colour: rgba(130, 195, 209, 0.75);
    --checkmark-colour: rgba(198, 197, 217, 1);
    --scrollbar-colour: rgba(198, 197, 217, 0.5);
    --chat-area-background-colour: rgba(245, 248, 253, 1);
    --load-more-messages-button: rgba(198, 197, 217, 0.7);
    --message-text-colour:  rgba(13, 13, 13, 0.8);
    --them-message-background-colour: rgba(198, 197, 217, 0.5);
    --us-message-background-colour: rgba(130, 195, 209, 0.75);
    --users-choice-input-colour: rgba(130, 195, 209, 0.75);
    --input-message-colour: rgba(198, 197, 217, 0.3);
    --send-message-button-colour: rgba(198, 197, 217, 0);
    --header-height: 7rem;
    --footer-height: 5rem;
    --function-body-width: 28rem;
    --right-border-width: 3rem;
    --left-border-width: 5rem;
    --input-message-area-height: 4rem;

}

html {
    font-size: 14px;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.header,
.footer, 
.left-border, 
.right-border {
    background-color: var(--border-colour);
}

.primary-font-colour {
    color: var(--primary-font-colour);
}

.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 5rem;
    vertical-align: middle;
    margin-left: 1rem;
}

.user-status {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

.logout-button {
    width: 2.5rem;
    height: auto;
}

.user-name {
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.main {
    width: 100%;
    height: calc(100% - var(--footer-height) - var(--header-height));
    background-color: var(--main-background-colour);
    display: flex;
    flex-direction: row;
}

.chat-module {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-border {
    width: var(--left-border-width);
}

.left-border>ul {
    padding-inline-start: 0rem;
}

.left-border>ul>li {
    padding-top: 2rem;
}

.function-icon {
    width: calc(var(--left-border-width) * 0.7);
}

.function-body {
    width: 28rem;
    overflow-y: auto;
}

.users-online {
    overflow-y: auto;
}
.users-online>ul {
    list-style-type: disc;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
}

.users-online>ul>li {
    padding-top: 0.5rem;
}

.filters {
    display: none;
}

.filter-search {
    margin: 3rem 1rem 1rem 1rem;
}

.search-label {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}
  
.search-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0.5rem;
    height: 1rem;
    width: 1rem;
    background-color: var(--checkmark-colour);
    border: 1px solid var(--primary-font-colour);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.search-label input:checked ~ .checkmark:after {
    display: block;
}

.search-label .checkmark:after {
    left: 0.3rem;
    top: 0;
    width: 0.3rem;
    height: 0.8rem;
    border: solid var(--primary-font-colour);
    border-width: 0 .2rem .2rem 0;
    transform: rotate(45deg);
}


.text-input input[type=text] {
    width: 20rem;
    height: 2rem;
    background-color: var(--text-input-color);
    border-radius: 1.5rem;
    border: none;
    color: var(--primary-font-colour);
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.text-search input[type=text]{
    background-image: url('images/search-icon.png');
    background-position: 0.5rem center;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.date-search input[type=text]{
    background-image: url('images/calendar.png');
    background-position: 0.5rem center;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
}

.text-input-placeholder::placeholder {
    color: var(--primary-font-colour);
    font-size: 0.8rem;
}

.search-button,
.reset-button {
    width: 10rem;
    height: 2rem;
    margin-top:1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--submit-button-colour);
    color: var(--primary-font-colour);
}

.search-button {
    margin-left: 2rem;
}

.chat-area {
    width: calc(100% - var(--right-border-width) - var(--function-body-width) - var(--left-border-width));
    height: 100%;
    background-color:var(--chat-area-background-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.message-area, 
.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.load-more-messages {
    width: 8rem;
    height: 1.5rem;
    align-self: center;
    background-color: var(--load-more-messages-button);
    border-radius: 0.5rem;
    border: none;
    position: relative;
    z-index: 10;
    color: var(--primary-font-colour);
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background:  var(--scrollbar-colour);
    border-radius: 1rem;
}

.message {
    margin-top: 1.5rem;
    max-width: 50%;
    color: var(--message-text-colour);
    z-index: 1;
}

.them-message-colour {
    background-color: var(--them-message-background-colour);
}

.them-message {
    padding-left: 2rem;
}

.us-message-colour {
    background-color: var(--us-message-background-colour);
}

.us-message {
    position: relative;
    align-self: flex-end;
    padding-right: 2rem;
}

.author {
    color: var(--message-text-colour);
    font-weight: bold;
    padding-left: 2rem;
}

.target {
    color: var(--message-text-colour);
    font-weight: bold;
}

.date {
    padding-right: 2rem;
    float: right;
    color: var(--primary-font-colour);
}
.message-text {
    border-radius: 1.2rem;
    padding-inline-start: 1rem;
    padding: 1rem;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 0;
    margin: 0;
    width: 20rem;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}
  
.context-menu--active {
    display: block;
}
  
.context-menu-items {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.context-menu-item {
    height: 1.5rem;
    display: block;
    padding-inline-start: 1rem;
    margin: 0.3rem 0;
    padding-top: 0.1rem;
}

 .context-menu-item:hover {
     background-color: var(--main-background-colour);
 }

.input-message-area {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.target-users-choice{
    display: flex;
}

.msg-id {
    display: none;

}

.target-users-choice input[type=text] {
    width: 10rem;
    height: 1.5rem;
    background-color: var(--users-choice-input-colour);
    border-radius: 0.5rem;
    border: none;
    color: var(--primary-font-colour);
    margin-left: 2rem;
    padding-left: 1rem;
}

.target-users-choice-placeholder::placeholder {
    color: var(--primary-font-colour);
    font-size: 0.7rem;
}

.input-message {
    width: 100%;
    height: var(--input-message-area-height);
    border-radius: 0.8rem;
    border-color: var(--input-message-colour);
    background-color: var(--input-message-colour);
}

.input-message textarea {
    width: calc(100% - 6rem);
    height: 3rem;
    resize: none;
    line-height: 1.5rem;
    background: none;
    border: none;
    float: left;
    margin: 0;
    overflow: hidden;
    padding-inline-start: 2rem;
    padding-right: 0;
}

.input-message input[type="submit"] {
    width: 4rem;
    height: var(--input-message-area-height);
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--send-message-button-colour);
    background-image: url("images/send-message.png");
    background-position: center center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    text-indent: 1000%;
    line-height: 1.5rem;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus
{
    outline:0px;
    -webkit-appearance:none;
    box-shadow: none;
}

.right-border {
    width: var(--right-border-width);
}

/* Style for registration, autorization modules */

.autorization-module,
.registration-module,
.error-module {
    display: none;
}

.registration-form,
.autorization-form,
.error-module {
    display: flex;
}
.registration-form,
.autorization-form,
.autorization-module,
.registration-module,
.error-module  {
    flex-direction: column;
    align-items: center;
}

.autorization-module,
.registration-module,
.error-module {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.registration-label,
.autorization-label {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 0;
}

.reg-input,
.auto-input, 
.registration-button,
.autorization-button {
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
}

.reg-input,
.auto-input {
    width: 20rem;
    background-color: var(--text-input-color);
    color: var(--primary-font-colour);
    padding-left: 1rem;
}

.auto-error-message,
.reg-error-message {
    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
}

.registration-button,
.autorization-button {
    width: 21rem;
    background-color: var(--submit-button-colour);
    color: var(--secondary-logo-colour);
    text-transform: uppercase;
}

.nav-links {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.nav-button {
    padding: 0 1rem;
    background: none;
    border: none;
    font-family: arial, sans-serif;
    color: var(--primary-font-colour);
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.info-message {
    display: none;
    width: 30rem;
    height: 10rem;
    background-color: var(--main-background-colour);
    border-radius: 0.5rem;
    border-color: var(--main-background-colour);
    box-shadow: 1px 1px 2px var(--main-background-colour);
    color: var(--primary-font-colour);
    text-align: center;
    font-size: 2rem;
    text-decoration: double;
    padding: 1rem;
    z-index: 100;
}

.error-titile {
    font-size: 6rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.error-recommendation {
    font-size: 3rem;
    font-weight: normal;
    margin: 1rem;
    padding: 0;
}

.error-img {
    width: 15%;
}

/* Footer style */

.footer {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.about-us {
    margin-left: auto;
    margin-right: 2rem;
}

.about-us>ul {
    margin: 0 1rem;
}
.secondary-logo-colour {
    color: var(--secondary-logo-colour);
}